#charities
  %h2 Charity Pages
  #new-charity= link_to 'New', new_page_path, class: 'button'
  - @pages.each do |page|
    .charity
      %h3= link_to page.name, "/#{page.slug}"
      = link_to 'Edit', edit_page_path(page), class: 'button'
      = link_to 'Delete', page, :confirm => 'Are you sure?', :method => :delete, class: 'button'
      != '<div class="page_qr page_qr_'+page.slug+'"></div>'
      :javascript
        $(function() {
          $('#{".page_qr_"+page.slug}').qrcode("#{request.protocol}#{request.host}:#{request.port}/#{page.slug}");
        });
